/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// This was a bit too heavy handed but might come in useful
// @import "compass/reset";

/*--------------
 MIXINS
 ---------------*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/*---------------
 LAYOUT
 ---------------*/
body {
    /* background: linear-gradient(#75b72a, darkblue); */
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/* Footer styles. */
.tg-one-fourth {
    margin: 0 3rem;
    padding-bottom: 0;
    width: 33%;    
}

.tg-one-fourth.tg-after-two-blocks-clearfix.tg-column-3 {
    display: none;
}

.footer-widgets-area.clearfix {
    display: flex;
    justify-content: space-between;
}

.textwidget {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.tg-one-fourth.tg-one-fourth-last.tg-column-4 {
    text-align: right;
    font-size: 18px;
    line-height: 1.5rem;

}

/*--------------
 MAIN NAVIGATION
 ---------------*/
#site-navigation {
    clear: both;
    float: none;
}

/*--------------
 HEADER
---------------*/
#header-text-nav-container {

  #site-title a {
    font-size: 52px;
  }
  #site-description {
    font-size: 28px;
  }
  #header-logo-image {
    img {
      height: 170px;
    }
  }
}

/*--------------
 FOOTER
---------------*/
.footer-widgets-wrapper {
  background-color: #282f6b;

  .footer-widgets-area a {
    color: #75b72a !important;
  }
}

.footer-socket-wrapper {
  .copyright {
    max-width: 95%;
  }
}

/*--------------
 CONTACT
---------------*/
#header-right-sidebar {
  line-height: 1.4;
}
.numbers {
  font-size: 1.1em;
  span {
    display: block;
  }
  i {
    width: 20px;
  }
}

/*--------------
 ICONS
 --------------*/
.fa-twitter-square {
  color: #55acee;
}
.fa-linkedin-square {
  color: #0077b5;
}
.fa-facebook-square{
  color: #3b5998;
}

/*--------------
 IMAGES
---------------*/
img {
  &.round {
    @include border-radius(100%);
  }
  &.right {
    float: right;
    padding-left: 12px;
  }
  &.left {
    float: left;
    padding-right: 12px;
  }
}

/*--------------
 PARAGRAPHS
 -------------*/
p {
  text-align: justify;
}

/*--------------
 MEDIA QUERIES
---------------*/
@media screen and (max-width: 768px) {
  #header-text-nav-container {
    #site-description {
      font-size: 22px;
      text-align: center;
    }
  }
}
