/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// This was a bit too heavy handed but might come in useful
// @import "compass/reset";

/*--------------
 COLOURS
 --------------*/
$wcr-navy: #282f6b;
$wcr-lime: #75b72a;

/*--------------
 MIXINS
 ---------------*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/*---------------
 LAYOUT
 ---------------*/
body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#primary .widget_featured_single_post,
#secondary aside.widget .post-excerpt {
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 20px;
  padding: 6px;
  border-radius: 4px;
  background: #FAFAFA;
}

#primary .widget_featured_single_post .post-excerpt-multiple {
  h2 {
    font-size: 0px;
    margin-top: 10px;
    border-top: 2px solid #EAEAEA;
    line-height: 0px;
  }
}

/*--------------
 MAIN NAVIGATION
 ---------------*/
#site-navigation {
  clear: both;
  float: none;
  a {
    font-weight: 500;
  }
  .menu-toggle,
  &.main-small-navigation li {
    background: $wcr-navy;
  }
  .menu-toggle:hover,
  &.main-small-navigation li:hover {
    background: $wcr-lime;
  }
}

/*--------------
 HEADER
---------------*/
#header-text-nav-container {
  #header-left-section {
    margin-right: 10px;
  }
  #site-title a {
    font-size: 52px;
  }
  #site-description {
    font-size: 28px;
  }
  #header-logo-image {
    img {
      height: 170px;
    }
  }
}

/*--------------
 FOOTER
---------------*/
.footer-widgets-wrapper {
  background-color: $wcr-navy;

  .footer-widgets-area a {
    color: $wcr-lime !important;
  }

  .tg-one-fourth {
      font-size: 1.2em;
      line-height: 1.5em;
      padding: 0;
  }
}

.footer-socket-wrapper {
  .copyright {
    max-width: 95%;
  }
}

/*--------------
 CONTACT
---------------*/
#header-right-sidebar {
    line-height: 1.4;
}
.mailto a {
  font-weight: 500;
  &:hover {
    text-decoration: underline;
  }
}
.numbers {
  font-size: 1.1em;
  span {
    display: block;
  }
  i {
    width: 20px;
  }
}

/*---------------
 HEADINGS
----------------*/
h4 {
  color: $wcr-lime;
}

/*---------------
 LINKS
----------------*/
a {
  color: $wcr-lime;
  font-weight: 700;
  &:hover {
    color: darken($wcr-lime, 10);
  }
}
a[href$=".pdf"] {
  background: url('pdf.png') no-repeat;
  padding: 12px 0 0 40px;
}
#primary a.call-to-action-button,
#secondary a.call-to-action-button {
  background: $wcr-lime;
  &:hover {
    background: darken($wcr-lime, 10);
    color: #FAFAFA;
    text-decoration: none;
  }
}


/*--------------
 ICONS
 --------------*/
a .fa {
  margin: 0 6px 0 0;
}

.fa-twitter-square {
  color: #55acee;
}
.fa-linkedin-square {
  color: #0077b5;
}
.fa-facebook-square{
  color: #3b5998;
}

/*--------------
 IMAGES
---------------*/
img {
  &.round {
    @include border-radius(100%);
  }
  &.right {
    float: right;
    padding-left: 12px;
  }
  &.left {
    float: left;
    padding-right: 12px;
  }
}

article.post-11 figure {
    float: left;
    height: 265px;
    max-width: 225px;
    padding: 8px;
  &.wp-caption {
    border: none;
    margin-bottom: 0;
  }
}

.thumbnail img {
  float: left;
  padding-right: 12px;
}

/*--------------
 PARAGRAPHS
 -------------*/
p {
  text-align: justify;
}

/*--------------
 WIDGETS
 -------------*/
.widget_featured_single_post {
  padding-bottom: 0px;
}

#primary .widget_featured_single_post {
  img {
    float: left;
    width: 400px;
    padding-right: 20px;
  }
  a.call-to-action-button {
    float: left;
  }
}

/*--------------
 MEDIA QUERIES
---------------*/
@media screen and (max-width: 768px) {
  #header-text-nav-container {
    #site-description,
    #header-right-sidebar {
      text-align: center;
    }
    #site-description {
      font-size: 22px;
    }
  }

  #secondary {
    .textwidget {
      width: 82%;
      margin: auto;
    }
  }
  .footer-widgets-wrapper {
    .tg-one-fourth {
      text-align: center;
    }
    .tg-one-fourth-last {
      padding-bottom: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .entry-content {
    text-align: center;
  }
  .thumbnail img {
    float: none;
  }
}

@media screen and (max-width: 320px) {
  article.post-11 figure {
    float: none;
    width: 100%;
    max-width: 280px;
  }
}

