/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// This was a bit too heavy handed but might come in useful
// @import "compass/reset";

/*--------------
 MIXINS
 ---------------*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/*--------------
 MAIN NAVIGATION
 ---------------*/
#site-navigation {
    clear: both;
    float: none;
}

/*--------------
 HEADER
---------------*/
#header-text-nav-container {

  #site-title a {
    font-size: 52px;
  }
  #site-description {
    font-size: 28px;
  }
  #header-logo-image {
    img {
      height: 170px;
    }
  }
}

/*--------------
 FOOTER
---------------*/
.footer-widgets-wrapper #text-6.widget_text {
  background-color: #767676;
  padding: 10px;
  @include border-radius(10px);
}
.footer-socket-wrapper {
  .copyright {
    max-width: 95%;
  }
}

/*--------------
 CONTACT
---------------*/
#header-right-sidebar {
  line-height: 1.4;
}
.numbers {
  font-size: 1.1em;
  span {
    display: block;
  }
  i {
    width: 20px;
  }
}

/*--------------
 ICONS
 --------------*/
.fa-twitter-square {
  color: #55acee;
}
.fa-linkedin-square {
  color: #0077b5;
}
.fa-facebook-square{
  color: #3b5998;
}

/*--------------
 IMAGES
---------------*/
img {
  &.round {
    @include border-radius(100%);
  }
  &.right {
    float: right;
    padding-left: 12px;
  }
  &.left {
    float: left;
    padding-right: 12px;
  }
}

/*--------------
 PARAGRAPHS
 -------------*/
p {
  text-align: justify;
}

/*--------------
 MEDIA QUERIES
---------------*/
@media screen and (max-width: 768px) {
  #header-text-nav-container {
    #site-description {
      font-size: 22px;
      text-align: center;
    }
  }
}
