/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*--------------
 MIXINS
 ---------------*/
/*--------------
 MAIN NAVIGATION
 ---------------*/
/* line 22, ../sass/screen.scss */
#site-navigation {
  clear: both;
  float: none;
}

/*--------------
 HEADER
---------------*/
/* line 32, ../sass/screen.scss */
#header-text-nav-container #site-title a {
  font-size: 52px;
}
/* line 35, ../sass/screen.scss */
#header-text-nav-container #site-description {
  font-size: 28px;
}
/* line 39, ../sass/screen.scss */
#header-text-nav-container #header-logo-image img {
  height: 170px;
}

/*--------------
 CONTACT
---------------*/
/* line 49, ../sass/screen.scss */
#header-right-sidebar {
  line-height: 1.4;
}

/* line 52, ../sass/screen.scss */
.numbers {
  font-size: 1.1em;
}
/* line 54, ../sass/screen.scss */
.numbers span {
  display: block;
}
/* line 57, ../sass/screen.scss */
.numbers i {
  width: 20px;
}

/*--------------
 ICONS
 --------------*/
/* line 65, ../sass/screen.scss */
.fa-twitter-square {
  color: #55acee;
}

/* line 68, ../sass/screen.scss */
.fa-linkedin-square {
  color: #0077b5;
}

/* line 71, ../sass/screen.scss */
.fa-facebook-square {
  color: #3b5998;
}

/*--------------
 IMAGES
---------------*/
/* line 79, ../sass/screen.scss */
img.round {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}
/* line 82, ../sass/screen.scss */
img.right {
  float: right;
  padding-left: 12px;
}
/* line 86, ../sass/screen.scss */
img.left {
  float: left;
  padding-right: 12px;
}

/*--------------
 PARAGRAPHS
 -------------*/
/* line 95, ../sass/screen.scss */
p {
  text-align: justify;
}

/*--------------
 MEDIA QUERIES
---------------*/
@media screen and (max-width: 768px) {
  /* line 104, ../sass/screen.scss */
  #header-text-nav-container #site-description {
    font-size: 22px;
    text-align: center;
  }
}
